.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;
}

.card {
  padding: 10px !important;
  margin-bottom: 10px !important;
  margin-right: 10px !important;
}

.container {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  flex: 0.5;
  text-align: left;
  margin-right: 20px;
}

input {
  flex: 2;
}

button {
  width: 100%;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Inclui padding e border na largura total */
}

input:focus {
  outline: none;
  border-color: #ccc;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.5);
}

select {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 15px 15px;
}

option {
  padding: 5px;
  border: 1px solid rgba(128, 128, 128, 0.2);
}

option:hover {
  background-color: #f2f2f2;
  border-color: #ccc;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}