.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3px;
}

.card {
padding: 10px !important;
margin-bottom: 10px !important;
margin-right: 10px !important;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  flex: 0.5;
  text-align: left;
}

.label {
  margin-right: 20px;
  
}

input {
  flex: 2;
}

button {
  width: 100%;
  background-color: rgb(49, 49, 49);
  border: 1px solid white;
  border-radius: 9px;
  padding: 10px;
  color: white;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Inclui padding e border na largura total */
}
